.navbar {
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);

    .logo {
        margin-left: 10px;
        width: 500px;
    }

    .logo:hover {
        animation: float 2s infinite;
    }

    .nav-list-wrap {
        width: 100%;

        .nav-list {
            list-style-type: none;
            display: flex;
            float: right;
            text-align: center;

            .li,
            .dropdown-btn {
                padding-right: 30px;
                background: none;
                border: none;
                font: inherit;
                cursor: pointer;
                transition: 0.5s;

                .a {
                    font-size: 17px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    transition: 0.5s;
                }

                .active,
                .a:hover {
                    color: rgb(83, 182, 137);
                    transition: 0.5s;
                    text-decoration: 2px overline;
                }
            }
        }
    }
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(12px);
    }

    100% {
        transform: translateY(0);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;

    .dropdown-items {

        background: rgb(255, 255, 255);
        display: none;
        position: absolute;
        z-index: 1;
        text-align: center;
        padding-top: 16px;
        left: -50;

        .a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            display: block;
            width: 200px;
            height: 30px;
            transition: 0.5s;
            padding: 10px;
            padding-bottom: 0;
        }

        .a:hover {
            color: rgb(255, 255, 255);
            transition: 0.5s;
            background: black;
        }
    }
}

.dropdown:hover .dropdown-items {
    display: block;
}


.dropdown-btn:hover {
    transition: 0.5s;
    color: rgb(83, 182, 137);
    text-decoration: 2px overline;
}

body {
    margin: 0;
    position: relative;
}

/* start of banner */
.pic-wrap {
    .image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: 100% 70%;
        filter: brightness(50%);
    }
}

.pic-text {
    font-size: 60px;
    position: absolute;
    top: 50;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 425px) {
    .pic-wrap {
        height: 250px;
        .image {
            height: 100%;
        }
    }

    .pic-text {
        top: 10%;
        text-align: center;
        font-size: 20px;
    }
}
/* end of banner */

/* start of contact */
.form-text {
    text-align: center;
    margin: 140px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .h2 {
        font-size: 70px;
        margin-bottom: 0;
    }

    .p {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 70px;
    }
}

.form-text p {
    font-size: 25px;
}

.contactBox {
    background: rgb(210, 210, 210);
    width: 50%;
    border-radius: 8px;
    padding: 10px;
}

@media screen and (max-width: 425px) {
    .form-text{
        .h2 {
            margin: 0;
            font-size: 40px;
            width: 400px;
        }

        .p {
            padding-top: 10px;
            font-size: 20px;
        }
    }

    .form-text p {
        font-size: 15px;
    }
    
    .contactBox {
        background: rgb(210, 210, 210);
        width: 350px;
        border-radius: 5px;
    }
}
/* end of contact */

/* start of footer */
.footer-header {
    display: flex;
    justify-content: center;
    color: rgb(16, 46, 40);
    font-size: larger;
    padding-bottom: 30px;
    padding-top: 10px;
}

.footer h4 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 30px;
    font-size: 30px;
    color:black;
}

.footer-header a {
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size: 15px;
}

.footer-header a:hover {
    color: rgb(83, 182, 137);
    transition: 0.5s;
    text-decoration: underline;
    text-underline-offset: 4px;
}
/* end of footer */

@media screen and (max-width: 425px) {
    .footer {
        bottom: 0;
    }
}